*{
    text-align: center;
    background-color: burlywood;
    
    

}
#he1{
    color:burlywood;
    font-size: xx-large;
    border: 1px;
    border: solid;
    border-color:black;
    background-color:white;
    margin-top:50px;
    margin-bottom: 100px;
    margin-right:70%;
    margin-left:20%;

}
    

