*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}


.top{
    width: 100%;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.636);
    color: white;
    text-align: center;

}
.menu{
    display: inline-block;
    width: 30%;

}
.food{
    display: inline-block;
    width: 30%;
}
.mail{
    display: inline-block;
    width: 30%;

}
.major{
    background-color:rgba(196, 190, 182, 0.685);
    width: 100%;
    height:100%;
    text-align: center;
    padding-bottom: 80px;



    
}
.minor{
    width:270px;
    height: 500px;
    margin-top: 70px;
    margin-left: 30px;

    background-color:#e9e4e3;
    border-radius: 5px;

    display: inline-block;
    justify-items: center;
    /* margin-bottom: 50px; */
    
    
    

}
.amg1{
    width: 270px;
    height: 300px;
    
    text-align: center;
}

.img1{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    margin-top: 10px;

    
}
.heading{
    margin-top: 25px;

    width: 200px;
    text-align: left;
    
}
.para{
    width: 200px;
    margin-left:10px ;
    text-align: left;
    margin-top: 5px;
}
.pages{
    display: inline-block;
    width: 20px;
    color: brown;
    border: 2px ;
    border-style: groove;
    
}
.pageholder{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 50px;
    
}
.page{
    display: inline-block;
    width: 20px;
    color: brown;
    margin: 10px;
    
}

hr{
    width: 70%;
    margin-left: 15%;
}
.me{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: smaller;
    font-style: oblique;
    color: rgba(0, 0, 0, 0.855);
    margin-top: 50px;
}
.foodman{
    width: 50%;
    margin-left: 25%; 

}
.am{
    width: 100%;
    text-align: center;
    margin: 10px;
}
.bpara{
    width:80%;
    margin-left: 10%;
    text-align: center;
}
.card{
    
    width: 200px;
    display:inline-block;
    height: 100px;
    margin-left: 10%;
    height:300px;
    margin-top: 50px;
}

.aimg{
    width: 70px;
    display: inline-block;
}
.h13{
    width: 100px;
    display: inline-block;
    
}
h5{
    color: aliceblue;
    background-color: gray;
    display: inline-block;
    margin-left: 5px;
}
.points{
    width: 50%;
    
    
}
.card1{
    display:inline-block;
    margin-left: 5%;
   
    width: 200px;
    height:300px;
    
}
.para1{
    width: 55%;
}
